

ol.nav{
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 2rem;
  left: 2rem;
  padding: 0;
  margin: 0;
}
ol.nav li{
  position: relative;
  margin: .4rem;
  height: 10px;
}
ol.nav li a{
  text-decoration: none;
}
ol.nav li a:before{
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: rgba(255,255,255,0.5);
  content: " ";
  display: block;
}

ol.nav li.active a:before{
  background: #fff;
}

@media (orientation: landscape) {

body{
  text-align: center;
  font-family:"Roboto Mono";
  background: #1a237e url(background.jpg);
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.answers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrong{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 500px;
  font-weight: 700;
  color: red;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-text-stroke: 12px #fff;
  text-shadow: 15px 15px 25px rgba(0, 0, 0, 1);
}

.question{
  font-size:3.5vw;
  font-weight:700;
  font-family: "Roboto Condensed";
  margin: 0 3rem 4rem;
  padding: 2rem;
  font-style: italic;
  text-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
  position: relative;
  letter-spacing: -1.5px;
}

.question:after{
  position:absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  background: #d50000;
  content:" ";
  display:block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
  border: 8px solid #fdd835;
  z-index: -1;
  transform: skew(-8deg);
}

.answer{
  font-size:5.5vw;
  font-weight:700;
  position:relative;
  display:inline-block;
  overflow:hidden;
  margin: 0 3rem 3.5rem;
  cursor: pointer;
  line-height: 1;
  text-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
}
.answer .text{
  transition:.3s ease clip-path;
  clip-path: inset(0 calc(100% - 3.35vw) 0 0);
}

.answer:nth-child(even){
  margin-top: 2rem;
}

.answer.reveal .text{
  clip-path: inset(0 0 0 0);
}

.answer .underline{
  position: relative;
}

.answer .underline:after{
  position:absolute;
  bottom:16px;
  left:calc(0% + 3.5vw);
  right:0;
  height:8px;
  background:#fdd835;
  content:" ";
  display:block;
  transition:.3s ease left;
  box-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
}

.answer.reveal .underline:after{
 left:100%;
}

.verbose .answer{
  font-size: 3.75vw;
}
.verbose .answer .text{
  clip-path: inset(0 calc(100% - 2.25vw) 0 0);
}
.verbose .answer.reveal .text{
  clip-path: inset(0 0 0 0);
}
.verbose .answer .underline:after{
  left:calc(0% + 2.5vw);
  height: 6px;
  bottom: 10px;
}
.verbose .answer.reveal .underline:after{
 left:100%;
}

.answer.space .underline:not(:first-child){
margin-left: 2vw;
}

body.home{
align-items: center;
}

.logo{
  font-size:8vw;
  font-weight:700;
  font-family: "Roboto Condensed";
  margin: 2rem 3rem;
  padding: 2rem;
  font-style: italic;
  text-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
  position: relative;
  letter-spacing: -1.5px;
}

.logo:after{
  position:absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  background: #d50000;
  content:" ";
  display:block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
  border: 8px solid #fdd835;
  z-index: -1;
  transform: skew(-8deg);
}

.logo:before{
  font-size:5vw;
  position:absolute;
  background: #d50000;
  content:"HOME EDITION";
  display:block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
  border: 8px solid #fdd835;
  z-index: -1;
  transform: skew(-8deg);
  z-index: 10;
  padding: 0 2rem;
  right: -4vw;
  bottom: -4vw;
}

body.home ul.games{
  position: absolute;
  list-style: none;
  display: flex;
  justify-content: center;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  padding: 0;
  margin: 0;
}

body.home ul.games a{
  color: #fff;
  text-decoration: none;
  font-size: 2vw;
  padding: 0 1rem;
}

.home-link{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  font-size: 3vw;
  opacity: .5;
}
.home-link .material-icons{
  font-size: 2vw;
}

}

@media (orientation: portrait) {

body{
  counter-reset: section;
  font-family:"Roboto Mono";
  font-size: 6vw;
  text-transform: uppercase;
  padding: 1rem;
}

.question{
  margin-bottom: 2rem;
  font-size: 7vw;
  font-family: "Roboto Condensed";
  font-style: italic;
  letter-spacing: -1.5px;
}

.answer{
  margin-bottom: .5rem;
}

.answer::before {
  counter-increment: section;
  content: counter(section)" ";
  opacity: 0.5;
}

.answer.space .underline{
  margin-right: 3vw;
}

.wrong{
  display: none;
}

ol.nav{
  flex-direction: row;
}

ol.nav li a:before{
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,0.25);
}

ol.nav li.active a:before{
  background: #000;
}
}
