<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>America Says</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">

</head>
<body>

<ol>
{% for item in site.pages %}
      {% assign item_crumbs = item.url | remove_first: page.dir | split: '/' %}
  {% if page.url == item.url %}
      <li class="active">
  {% else %}
      <li>
  {% endif %}
        <a href="{{ item_crumbs }}">&nbsp;</a>
      </li>
   
{% endfor %}
</ol>


  <div class="wrong">
X
  </div>

<div class="question">
  {{ page.question }}
</div>

<div class="answers">

{% for answer in page.answers %}
<div class="answer">
  <div class="text">{{ answer }}</div>
</div>
{% endfor %}

</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="../script.js"></script>

</body>
</html>
