<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>America Says</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto+Mono:wght@700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="../style.css">

</head>

  {% assign characters = 0 %}
  {% for answer in page.answers %}
  {% assign more = [answer | size] %}
  {% assign characters = characters | plus:more %}
  {% endfor %}

<body class="{% if characters > 80 %}verbose{% endif %}">


<a href="/" class="home-link">
<span class="material-icons">
home
</span>
</a>

<ol class="nav">
{% for item in site.[page.collection] %}

  {% if item.url contains page.collection %}

  {% if page.url == item.url %}
      <li class="active">
  {% else %}
      <li>
  {% endif %}


        <a data-url="{{ item.url | slice: 8, 5 }}" href="{{ item.url }}">&nbsp;</a>
      </li>

{% endif%}   
{% endfor %}
</ol>


  <div class="wrong">
X
  </div>

<div class="question">
  {{ page.question }}
</div>

<div class="answers">

{% for answer in page.answers %}

{% if answer contains " " %}

{% assign answerSpace = answer | split:' ' %}
<div class="answer space">{% for answer in answerSpace %}<span class="underline"><span class="text">{{answer}}</span></span>{% endfor %}</div>

{% elsif answer contains "-" %}

{% assign count = 0 %}
{% assign answerDash = answer | split:'-' %}
<div class="answer dash">{% for answer in answerDash %}{% assign count = count | plus: 1 %}<span class="underline"><span class="text">{{answer}}</span></span>{% if count == 1 %}-{% endif %}{% endfor %}</div>

{% else %}
<div class="answer">
  <span class="underline">
    <span class="text">{{ answer }}</span>
  </span>
</div>
{% endif %}
{% endfor %}

</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="../script.js"></script>

</body>
</html>
